
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background-color: #222222;
  background-image: url("./S2-3840x2160.jpg");
  
}

/* /navbar / */

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
  
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color:rebeccapurple;
  transform: scale(1.1);
}

/* nasa photo*/

.nasa-photo {
  display: flex;
  padding: 6rem;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width:200%;
  margin-right: 3rem;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 5rem;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 2rem;
}

.nasa-photo .explanation {
  color: skyblue;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 3rem;
  background: rebeccapurple;
  display: inline-block;
  padding: 3rem 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: rebeccapurple;
}